<!DOCTYPE html>
<html>
	<head>
		<title>Signum @ <%= @title %></title>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class = "container">
			<%= render 'layouts/header' %>
			<section class = "round">
				<%= yield %>
			</section>
		</div>
	</body>
</html>
